@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

.dice {
    display: flex;
    justify-content: space-evenly;
    color: var(--ui-color);
}
.dice svg {
    transition:none;
    background-image: radial-gradient(rgba(55, 255, 0, 0.3), rgba(55, 255, 0, 0), rgba(55, 255, 0, 0));
}
.dice svg:hover {
    transition:none;
    filter: brightness(1.5);
    transform: scale(1.03);
}
.dice svg:active {
    transition:none;
    filter: brightness(1.5);
    transform: scale(.9);
}
.dice-tray-title {
    color: var(--ui-color);
    font-size: .8em;
    text-align: left;
    margin-bottom: 0;
}
#dice-tray {
    margin: 1em auto;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border:2px solid var(--ui-color);
    border-radius: 5px;
    padding: 1em 2em;
    white-space: nowrap;
}

#dice-tray svg {
    width: 2em;
}

#dice-tray > input {
    width: 3em;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-dialog {
    text-align: center;
    width: 90%;
    max-width: 600px;
    background: #010513df;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    border: 1px solid var(--ui-color);
    box-shadow: var(--lg-shadow);
    -webkit-animation: fadeIn 0.3s ease-in-out;
            animation: fadeIn 0.3s ease-in-out;
}
#modal-dialog form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0;
    list-style: none;
}

:root {
    --sm-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --md-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --lg-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --xl-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --inner-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.1);
    --ui-color: #4caf50;
    --ui-font: "Nunito", Geneva, Tahoma, sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: var(--ui-font);
    line-height: 1.5;
    scroll-behavior: smooth;
    color: aliceblue;
    background-image: radial-gradient(at bottom, #293134, #010513);
    background-attachment: fixed;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.fadein {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
* {
    transition: all 0.35s;
}
.no-transition {
    transition: none !important;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform:scale(0.9);
    }
    to {
        opacity: 1;
        transform:scale(1);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform:scale(0.9);
    }
    to {
        opacity: 1;
        transform:scale(1);
    }
}
.fadeout {
    opacity: 0;
    transform: scale(2);
    overflow: hidden;
}

@-webkit-keyframes shake {
    0% {
        transform: translateX(0);
        transform: translateY(0);
    }
    10% {
        transform: translateX(-10px);
    }
    20% {
        transform: translateY(-50px);
    }
    30% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateY(50px);
    }
    50% {
        transform: translateX(40px);
    }
    60% {
        transform: translateY(20px);
    }
    70% {
        transform: translateX(-9px);
    }
    80% {
        transform: translateY(70px);
    }
    90% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
        transform: translateY(0);
    }
    10% {
        transform: translateX(-10px);
    }
    20% {
        transform: translateY(-50px);
    }
    30% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateY(50px);
    }
    50% {
        transform: translateX(40px);
    }
    60% {
        transform: translateY(20px);
    }
    70% {
        transform: translateX(-9px);
    }
    80% {
        transform: translateY(70px);
    }
    90% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}
.shake {
    -webkit-animation-name: shake;
            animation-name: shake;
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

@-webkit-keyframes danger {
    from {
        filter:opacity(70%);
    }
    to {
        filter:opacity(100%);
    }
}

@keyframes danger {
    from {
        filter:opacity(70%);
    }
    to {
        filter:opacity(100%);
    }
}

.logo {
    width: 7em;
    margin-top: 1.5em;
    background-image: radial-gradient(rgba(55, 255, 0, 0.3), rgba(55, 255, 0, 0), rgba(55, 255, 0, 0));
}
.logo:hover {
    transition:none;
    filter: brightness(1.5);
    transform: scale(1.03);
}
.logo:active {
    transition:none;
    filter: brightness(1.5);
    transform: scale(.9);
}

a {
    color: aliceblue;
    text-decoration: none;
}
a:hover {
    color: aliceblue;
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    padding: 0;
}
.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    padding: 0;
}
.buttons .hp {
    width: 100%;
}
.button-wrap{
    display: flex;
    flex-wrap: nowrap;
}

.btn.bottom, button.bottom {
    margin-top: 0;
}
button, .btn {
    font: 1em var(--ui-font);
    border:2px solid var(--ui-color);
    border-radius: 5px;
    color: var(--ui-color);
    background: transparent;
    margin: 2em 1em;
    display: inline-block;
    padding: 1px 6px !important;
    cursor: pointer;
    appearance: button;
    -webkit-appearance: button;
	-moz-appearance: button;
    box-sizing: border-box;
    line-height: inherit;
    transition: none;
    white-space: nowrap;
}
.spacer {
    width: 100%;
}
button:hover, .btn:hover {
    background: var(--ui-color);
    color: aliceblue;
    text-decoration: none;
    transition: none;
}

.heading {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: aliceblue;
}
.heading img {
    margin-top: 4em;
}

.detail-wrapper {
    display: flex;
    justify-content:space-between;
}

div.sections {
    margin: .5em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:2px solid var(--ui-color);
    border-radius: 7px;
    padding: 1em 2em;
}
section {
    display: block;
    margin: 2em 0;
    width: 200px;
}
section h1,
.hp {
    margin: 10px 30px;
}

progress {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(55, 255, 0, 0.6),
    0 2px 4px -2px rgba(55, 255, 0, 0.6);
}
progress::-webkit-progress-bar {
    background-color: #d3ffc7;
    border-radius: 5px;
    box-shadow: var(--inner-shadow);
}
progress::-webkit-progress-value {
    background-color: var(--ui-color);
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(55, 255, 0, 0.3),
    0 2px 4px -2px rgba(55, 255, 0, 0.3);
}
.danger progress::-webkit-progress-value {
    background-color: red;
    box-shadow: 0 4px 6px -1px rgba(255, 0, 0, 0.3),
    0 2px 4px -2px rgba(255, 0, 0, 0.3);
    -webkit-animation: danger 1s infinite;
            animation: danger 1s infinite;
}
.danger progress::-webkit-progress-bar {
    background-color:rgba(255, 148, 148, 0.3);
    -webkit-animation: danger 1s infinite;
            animation: danger 1s infinite;
}
.danger progress {
    box-shadow: 0 4px 6px -1px rgba(254, 128, 128, 0.3),
    0 2px 4px -2px rgba(248, 132, 132, 0.3);
    -webkit-animation: danger 1s infinite;
            animation: danger 1s infinite;
}

input, select, option {
    font: var(--ui-font);
    color: var(--ui-color);
    background-color: #010513;
    border:2px solid var(--ui-color);
    border-radius: 5px;
    width: calc(100% - 1em);
    margin: 2em 1em;
}

p.error {
    color: red;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.select-div{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.select-div select{
    width: 100%;
}

.dash {
    display: block !important;
    text-align: center;
}
.dash h3 {
    margin-bottom: 0;
}
.division-checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.division-checkboxes input {
    width: auto;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 2em 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #010513;
    border-radius: 5px;
    border: 2px solid var(--ui-color)
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(44, 44, 44);
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--ui-color);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.systems {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.systems .hp {
    flex-basis: 100%;
    flex-grow: 1;
}
.systems button {
    flex-grow: 0;
    flex-basis: auto;
}


@media screen and (max-width: 600px) {
    .buttons {
        justify-content: space-between;
        margin: 0 2em;
    }
    .hp {
        margin: 5px;
    }
    .buttons .hp {
        order: 99;
    }
    .buttons {
        flex-wrap: wrap;
    }
    button, .btn {
        margin: 2px;
    }
    .buttons .logo {
        width: 70px;
    }
}

