@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("dice.css");

:root {
    --sm-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --md-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --lg-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --xl-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --inner-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.1);
    --ui-color: #4caf50;
    --ui-font: "Nunito", Geneva, Tahoma, sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: var(--ui-font);
    line-height: 1.5;
    scroll-behavior: smooth;
    color: aliceblue;
    background-image: radial-gradient(at bottom, #293134, #010513);
    background-attachment: fixed;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.fadein {
    animation-name: fadeIn;
    animation-duration: 1s;
}
* {
    transition: all 0.35s;
}
.no-transition {
    transition: none !important;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform:scale(0.9);
    }
    to {
        opacity: 1;
        transform:scale(1);
    }
}
.fadeout {
    opacity: 0;
    transform:scale(2);
    overflow: hidden;
}

@keyframes shake {
    0% {
        transform: translateX(0);
        transform: translateY(0);
    }
    10% {
        transform: translateX(-10px);
    }
    20% {
        transform: translateY(-100px);
    }
    30% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateY(100px);
    }
    50% {
        transform: translateX(40px);
    }
    60% {
        transform: translateY(20px);
    }
    70% {
        transform: translateX(-9px);
    }
    80% {
        transform: translateY(90px);
    }
    90% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}
.shake {
    animation-name: shake;
    animation-duration: .9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes danger {
    from {
        filter:opacity(70%);
    }
    to {
        filter:opacity(100%);
    }
}

a {
    color: aliceblue;
    text-decoration: none;
}
a:hover {
    color: aliceblue;
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    padding: 0;
    list-style: none;
}
.buttons .hp {
    width: 100%;
}
button, .btn {
    font: 1em var(--ui-font);
    border:2px solid var(--ui-color);
    border-radius: 5px;
    color: var(--ui-color);
    background: transparent;
    max-width: 100px;
    margin: 2em auto;
    display: inline-block;
    padding: 1px 6px !important;
    cursor: pointer;
    appearance: button;
    -webkit-appearance: button;
	-moz-appearance: button;
    box-sizing: border-box;
    line-height: normal;
    transition: none;
}
button:hover, .btn:hover {
    background: var(--ui-color);
    color: aliceblue;
    text-decoration: none;
    transition: none;
}

.heading {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.detail-wrapper {
    display: flex;
    justify-content:space-between;
}

div.sections {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:2px solid var(--ui-color);
    border-radius: 7px;
    padding: 1em 2em;
}
section {
    display: block;
    margin: 2em 0;
    width: 200px;
}
section h1,
.hp {
    margin: 10px 30px;
}

progress {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(55, 255, 0, 0.6),
    0 2px 4px -2px rgba(55, 255, 0, 0.6);
}
progress::-webkit-progress-bar {
    background-color: #d3ffc7;
    border-radius: 5px;
    box-shadow: var(--inner-shadow);
}
progress::-webkit-progress-value {
    background-color: var(--ui-color);
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(55, 255, 0, 0.3),
    0 2px 4px -2px rgba(55, 255, 0, 0.3);
}
.danger progress::-webkit-progress-value {
    background-color: red;
    box-shadow: 0 4px 6px -1px rgba(255, 0, 0, 0.3),
    0 2px 4px -2px rgba(255, 0, 0, 0.3);
    animation: danger 1s infinite;
}
.danger progress::-webkit-progress-bar {
    background-color:rgba(255, 148, 148, 0.3);
    animation: danger 1s infinite;
}
.danger progress {
    box-shadow: 0 4px 6px -1px rgba(254, 128, 128, 0.3),
    0 2px 4px -2px rgba(248, 132, 132, 0.3);
    animation: danger 1s infinite;
}

