
.dice {
    display: flex;
    justify-content: space-evenly;
    color: var(--ui-color);
}
/* .dice svg {
    transition:none;
}
.dice svg:hover {
    transition:none;
    filter: brightness(1.5);
    transform: scale(1.03);
}
.dice svg:active {
    transition:none;
    filter: brightness(1.5);
    transform: scale(.9);
} */
.dice-tray-title {
    color: var(--ui-color);
    font-size: .8em;
    text-align: left;
    margin-bottom: 0;
}
#dice-tray {
    margin: 1em auto;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border:2px solid var(--ui-color);
    border-radius: 5px;
    padding: 1em 2em;
}

#dice-tray svg {
    width: 2em;
}

#dice-tray > input {
    width: 3em;
}
