.crew-members {
    display: flex;
    align-items: center;
}
.crew-members img,
.crew-members svg {
    color: var(--ui-color);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--ui-color);
    margin-right: 1em;
}
.crew-members svg:hover {
    transform: none;
    filter: brightness(1) drop-shadow(1px 1px 5px var(--ui-color));
    cursor: default;
}
.manifest-divisions {
    display: flex;
    margin-left: 2em;
    gap: 1em;
}
.captain-image {
    color: var(--ui-color);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2px solid var(--ui-color);
    margin: 0 auto;
}
.captain-image:hover {
    transform: none;
    filter: brightness(1) drop-shadow(1px 1px 5px var(--ui-color));
    cursor: default;
}
