.crew-members {
    display: flex;
    align-items: center;
}
.crew-members img,
.crew-members svg {
    color: var(--ui-color);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--ui-color);
    margin-right: 1em;
}
.crew-members svg:hover {
    transform: none;
    filter: brightness(1) drop-shadow(1px 1px 5px var(--ui-color));
    cursor: default;
}
.manifest-divisions {
    display: flex;
    margin-left: 2em;
    gap: 1em;
}
.captain-image {
    color: var(--ui-color);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2px solid var(--ui-color);
    margin: 0 auto;
}
.captain-image:hover {
    transform: none;
    filter: brightness(1) drop-shadow(1px 1px 5px var(--ui-color));
    cursor: default;
}

.cargo-item {
    display: flex;
    margin: 2em 0 0;
}
.cargo-item input {
    width: 3rem;
    margin: 0;
}
.cargo-item p {
    margin: 0;
    font-weight: bold;
}
.cargo-description p {
    text-align: left;
    margin: 0;
}

.add-cargo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-cargo-section .name-qty {
    display: flex;
    width: 100%;
}
.add-cargo-section input {
    margin: 0.5em 0;
}
.add-cargo-section input[type="number"] {
    width: 5rem;
}
.add-cargo-section textarea {
    width: 100%;
    margin: 0.5em 0;
}
