#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
#modal-dialog {
    text-align: center;
    width: 90%;
    max-width: 600px;
    height: fit-content;
    max-height: 600px;
    overflow: auto;
    background: #010513df;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    border: 1px solid var(--ui-color);
    box-shadow: var(--lg-shadow);
    animation: fadeIn 0.3s ease-in-out;
}
#modal-dialog form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0;
    list-style: none;
}
.orientation {
    position: relative;
    width: 100%;
    max-width: 1280px !important;
    padding-bottom: min(720px, 56.25%) !important;
    overflow: hidden;
}
.orientation iframe {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: calc(100% + 140px);
    border: 0;
}
